<html>
<head>
<title>Demo upload  download</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div th:replace="include/header :: header1"></div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>ID</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${list}">
					<td><a th:href="@{'view?id='+${list.getId()}}" th:text="${list.title}" ></a></td>
					<td><a th:href="@{'view?id='+${list.getId()}}" th:text="${list.id}"  ></a> </td>
				 	<td><a th:href="@{'view?id='+${list.getId()}}">Link</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>